.headerPrincipal .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerPrincipal-nav {
	display: flex;
}

.rodapePrincipal-patrocinadores .container {
	display: flex;
	justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	margin-right: 5%;
}

.rodapePrincipal-contatoForm {
	width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
	display: flex;
}

.imagenSobre .borde{
	padding: 2em;
}
.imagenSobre{
	text-align: center;
	color: #F5F5F5;

}

.imagenSobre-sobre-title{	
	font-size: 2rem;
	padding: 1rem;
}

.imagenSobre .container {
	display: flex;
	justify-content: space-between;
}

.imagenSobre-sobre {
	display: flex;
	flex-direction: column;
	flex-grow: 10;
}

.imagenSobre-sobre-list {
	flex-grow: 1;
	padding: 1rem;
}
.imagenSobre-sobre-item{
	padding: .2em;
}
.imagenSobre-imagen {
	flex-grow: 1;
}


.imagenSobre-button{
	color: #9799A6;
	background-color: #F5F5F5;
	text-decoration: none;
	transition: .5s;
	border-bottom: 1px solid #9799A6;
	padding: 1em;
}
/* Responsive */
@media(max-width: 768px) {
	.headerPrincipal-nav {
		flex-direction: column;
	}

	.headerPrincipal .container {
		flex-direction: column;
		align-items: initial;
		text-align: center;
	}

	.rodapePrincipal-patrocinadores .container {
		flex-direction: column;
		align-items: center;
	}

	.rodapePrincipal-patrocinadores-list {
		margin: 0;
		width: 100%;
	}

	.rodapePrincipal-contatoForm {
		width: 100%;
	}

	.rodapePrincipal-contatoForm-fieldset {
		justify-content: center;
	}

	.headerPrincipal-nav-link-app {
		order: -1;
	}
	.imagenSobre .container {
		flex-direction: column;

	}

	.imagenSobre-imagen {		
		width: 90%;
		margin: 0 auto;
	}

}

