.formacion {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    width: calc(24% - 1.5rem);
}
.formacion:hover{
    transition: .5s;
    width: calc(27% - 1.5rem);
}
.formacion__titulo {
    font-size: 2rem;

}
.formacion-titulo {
    font-size: 1.5rem;
    text-align: center;
    color: #F5F5F5;
    font-weight:bolder;
    margin: .1em 0;
    padding-top: 12%;
    padding-bottom: ;
}
.formacion__contenido {
    padding: .5rem;
}
.formacion__fecha{
    text-align: center;
    padding: .8rem;
    font-size: .8rem;
    padding-bottom: .1rem;
}
.formacion__image{
    background: black;
}


@media screen and (max-width: 768px) {
    .formacion {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1.5rem;
        width: 90%;
    }
    .formacion-titulo {
        font-size: .7rem;
    }
    .formacion__titulo {
    font-size: 1rem;

    }
    .formacion:hover{
        transition: .5s;
    width: calc(90% - 1.5rem);
}
}