.headerPrincipal {
	background-color: #5E9EDC;
	padding: 20px 0;
}

.headerPrincipal-titulo {
	color: #5A5C5D;
	font-weight: bold;
	font-size: 2.5em;
	margin-bottom: 20px;
}

.headerPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.headerPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #F5F5F5;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}




@media(min-width: 769px) {
	.headerPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.headerPrincipal-nav-link:hover {
		color: #F5F5F5;
		background-color: #5E9EDC;
	}

	.headerPrincipal-titulo {
		margin: 0;
	}

	.headerPrincipal-nav {
		width: auto;
	}

	.headerPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}

}
