.skill-hobbie {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    width: calc(12% - 1.5rem);
}


.skills-hobbies {    
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0 2.5rem;
}
.skill-hobbie__boton {
    background: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
}

.skill-hobbie__contenido {
    padding: .2rem;
}
.skill-hobbie__imagen {
    height: 100%;
    margin: 10px;
}
.skill-hobbie__titulo {
    font-size: 1rem;
}
.skill-hobbie-titulo {
    font-size: 1.4375rem;
    text-align: center;
    color: #F5F5F5;
    font-weight:bolder;
    font-size: 1.7em;
    margin: .1em 0;
}



@media screen and (max-width: 768px) {
    .skills-hobbies {
        padding: 1rem 0 0 2.5rem;
    }
    .skill-hobbie {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1.5rem;
        width: calc(42% - 1.5rem);
    }
}
