body {
	background: linear-gradient(#5E9EDC, #888888, #5E9EDC, #324C64);
	font-family: 'Cormorant Garamond', serif;
}

.container {
	margin: 0 auto;
}
.borde{

	border: 1px solid #F5F5F5;
}
.contenidoPrincipal {
	margin-top: 20px;
	margin-bottom: 20px;

	background-color: ;
	padding-top: 20px;
}



.contenidoPrincipal__cursos-link {
	height: 100px;
	background-color: #F5F5F5;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
}

.contenidoPrincipal__cursos-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.contenidoPrincipal__cursos-link:hover {
	box-shadow: 4px 4px 4px #CCC;
}

.contenidoPrincipal__cursos-link a:before {
	content: '';
	display: block;
	width: 60px;
	height: 70px;
	margin: 3px auto;
}
.rodapePrincipal {
	background: linear-gradient(#5E9EDC #324C64);
	padding-top: 20px;
}


.rodapePrincipal-patrocinadores {
	margin-top: 30px;
	background: #F2F5F7;
	padding: 20px 0;
}

.rodapePrincipal-contatoForm {
	margin-top: 20px;
	text-align: center;
}

.rodapePrincipal-contatoForm label[for=email-contato] {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	margin-bottom: 5px;
	display: block;
}

.rodapePrincipal-contatoForm-emailInput {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}

.rodapePrincipal-contatoForm-submit {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #4DBA7A;
	color: #F5F5F5;
	cursor: pointer;
	
}

.rodapePrincipal-contatoForm-submit,
.rodapePrincipal-contatoForm-emailInput {
	outline: 0;
	border: 1px solid #4DBA7A;
	box-sizing: border-box;
	font-size: 16px;
}

.perfil-imagen {
	max-width: 100%;
	border-radius: 100%;
	 box-shadow: 10px 10px 30px 15px #2A7897;
}
.perfil{
	width: 40%;
	text-align: center;
}

.rodapePrincipal-contatoForm-legend {
	margin-bottom: 10px;
}

.destacados__boton{
	color: #B72E2E;
	border-color: #B72E2E;
	margin: 0 auto;
}

.rodapePrincipal-texto{
	padding: 1rem;
	text-align: center;
}

.boton{
	text-align: center;
	display: block;
	width: 100%;
	max-width: 350px;
	box-sizing: border-box;
	padding: 1rem 2rem;
	border: 1px solid #B72E2E;
	border-radius: 5px;
}

@media(min-width: 769px) {

	.container {
		width: 90%;	
	}

	.rodapePrincipal-contatoForm {
		margin-top: 0;
		text-align: left;
	}

	.contenidoPrincipal__cursos-link:nth-child(3n) {
		margin-right: 0;
	}

	.contenidoPrincipal__cursos-link:nth-child(3n+1) {
		margin-left: 0;
	}

	.perfil-imagen {
		width: 100%;
		max-width: 100%;
		border-radius: 100%;
		order: 1;
}
}

@media(min-width: 1000px) {
	.contenidoPrincipal__cursos-link {
		margin: 1.333%;
	}

	.contenidoPrincipal__cursos-link:nth-child(3n) {
		margin-right: 1.33%;
	}

	.contenidoPrincipal__cursos-link:nth-child(3n+1) {
		margin-left: 1.333%;
	}

	.contenidoPrincipal__cursos-link:nth-child(4n) {
		margin-right: 0;
	}

	.contenidoPrincipal__cursos-link:nth-child(4n+1) {
		margin-left: 0;
	}

	.contenidoPrincipal-sobre {
		margin-left: 1.5em;
	}

}
